/*SETTING DEFAULT FONT TO POPPINS*/
a, span, p, body {
	font-family: 'Poppins', Sanserif;
}

.daterangepicker .ranges li {
	font-family: 'Poppins', Sanserif;
}

.badge {
	border-radius: 30px;
}

.app-brand {
	background-color: unset;
}
body {
	background-color: #FAFAFA!important;
}

.app-brand a {
	padding-top: 0.8rem;
	padding-left: 2.56rem;
}

.app-brand a img {
	max-width: 90px;
}
.sidebar .nav > li > a i {
	width: 35px;
}

.sidebar .sidebar-inner > li.active {
	background-color: #F2994A;
	border-radius: 0px 30px 30px 0px;
}

.sidebar .nav > li.active > a i {
	color: white;
}

.sidebar-light .sidebar .nav > li.active > a {
	color: white;
}

.sidebar .sidebar-inner > li > a:before {
	background: unset;
}


.fnt-24px {
	font-size: 24px;
}
.fnt-40px {
	font-size: 40px;
}

.clr-grey {
	color: #858585;
}

.clr-black-600 {
	color: black;
	font-weight: 600;
}
.clr-black-700 {
	color: black;
	font-weight: 700;
}

.w8-700 {
	font-weight: 700;
}

.sub-heading-main {
	font-size: 24px;
	font-weight: 700;
	color: #858585;
	padding-top: 5px;
}

.sidebar .nav > li > a i {
	color: #2E803F;
	font-size: 30px;
}


.sidebar li > a .caret:before {
	color:#F2994A;
	font-size: 32px; 
}

.sidebar .sidebar-inner > li.has-sub:hover {
	background-color: #f2994a24;
	border-radius: 0px 30px 30px 0px;
}

.btn-01 {
	border: 1px solid #6E41E2;
    padding: 10px 20px;
    color: #6E41E2;
    border-radius: 3px;
}

.btn-01:hover {
	border: 1px solid #6E41E2;
    padding: 10px 20px;
    background-color: #6E41E2;
    color: #FFFFFF;
    border-radius: 3px;
}

.btn-01-inv {
	border: 1px solid #6E41E2;
    padding: 10px 20px;
    color: #ffffff;
	border-radius: 3px;
	background-color: #6E41E2;
}
.btn-01-inv:hover {
	border: 1px solid #6E41E2;
    padding: 10px 20px;
    background-color: white;
    color: #6E41E2;
    border-radius: 3px;
}

.breadcrumbs {
	margin-bottom: 5%;
}
.active-crumb {
	font-weight: 700;
	color: black;
}


.flt-rght {
	float: right;
}

tr th:last-child {
	text-align: right;
}



.mgn-tp-5pc {
	margin-top: 5%;
}


.modal-title {
	font-size: 32px;
    font-weight: 700;
    color: black;
}
.modal-header {
	padding: 1rem 1.5rem;
}
.modal-body {
	padding: 1rem 1.5rem;
}

.modal-stuff p {
	font-size: 14px;
	color: black;
	padding-top: 15px;
}

.modal-stuff-2 p {
	font-size: 14px;
	font-weight: 700;
	color: black;
	padding-top: 15px;
}

.modal-stuff-span span {
	margin-top: 12px;
}

.modal-header .close {
	border-radius: 30px;
	color: white;
	background-color: #6E41E2;
    padding: 0.6rem 0.8rem;
    margin: -1rem -1rem -1rem auto;
}


.sidebar-fixed-offcanvas .sidebar-with-footer, .sidebar-fixed .sidebar-with-footer {
	padding-bottom: unset;
}


@media (min-width: 1500px) {
	.content {
	    padding: 2.5rem 18.75rem;
	}
}

@media (min-width: 1200px) {
	.sidebar .sidebar-inner {
	    margin-top: 3.2rem;
	}
}